/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: roboto-regular; src: url("../fonts/roboto-regular.eot"); src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-medium; src: url("../fonts/roboto-medium.eot"); src: url("../fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-bold; src: url("../fonts/roboto-bold.eot"); src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: roboto-italic; src: url("../fonts/roboto-italic.eot"); src: url("../fonts/roboto-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic.woff") format("woff"), url("../fonts/roboto-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: lobster; src: url("../fonts/lobster.eot"); src: url("../fonts/lobster.eot?#iefix") format("embedded-opentype"), url("../fonts/lobster.woff") format("woff"), url("../fonts/lobster.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html::-webkit-scrollbar { width: 5px; height: 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #d7d7d7; }
html::-webkit-scrollbar-thumb { background: #3d3d3d; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
html::-webkit-scrollbar-track-piece { width: 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
html ::selection { background: rgba(0, 0, 0, 0.1); }
html ::-moz-selection { background: rgba(0, 0, 0, 0.1); }

body { min-width: 1110px; font-family: "roboto-regular", Arial, sans-serif; font-size: 13px; line-height: 1.2; color: #3d3d3d; background: #f2f2f2 url(../img/light-bg.png) 0 0 repeat; }
body.has-fixed-header .header { padding-top: 64px; }
body.has-fixed-header .header__main { position: fixed; z-index: 500; top: 0; left: 0; right: 0; }
body.has-fixed-header .header__city, body.has-fixed-header .header__search, body.has-fixed-header .cart-btn__icon, body.has-fixed-header .cart-btn__in { display: none; }
body.has-fixed-header .cart-btn { padding-left: 0; background: #da2400; text-align: center; }
body.has-fixed-header .cart-btn:hover { background: #a51b00; }
body.has-fixed-header .cart-btn__text { display: block; }
body.has-fixed-header.has-fixed-sidebar .sidebar__in { top: 79px; }
body.has-fixed-sidebar .sidebar__in { position: fixed; top: 0; width: 242px; }

input, textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #4a4a4a; font-family: "roboto-regular", Arial, sans-serif; font-size: 13px; }

a { color: #da2400; text-decoration: none; }

.l-center { margin: 0 auto; padding: 0 12px; width: 1000px; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { position: relative; margin: 0 0 -232px; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 232px; }

.title { font-family: "lobster", Arial, sans-serif; color: #4c4c4b; font-size: 36px; text-align: center; }

.subtitle { text-align: center; overflow: hidden; }
.subtitle span { position: relative; padding: 0 28px; display: inline-block; font-size: 17px; font-family: "roboto-medium", Arial, sans-serif; }
.subtitle span:before, .subtitle span:after { content: ""; position: absolute; top: 11px; width: 500px; height: 1px; border-top: 1px dotted #d7d7d7; }
.subtitle span:before { left: -500px; }
.subtitle span:after { right: -500px; }

.header { position: relative; }

.header__top { *zoom: 1; text-align: right; background: #3d3d3d url(../img/dark-bg.png) 0 0 repeat; }
.header__top:after { content: " "; display: table; clear: both; }
.header__top a { color: white; }
.header__top .extend-item { display: inline-block; vertical-align: middle; }

.header__login, .header__user, .header__lang, .header__link { display: inline-block; vertical-align: middle; }

.header__login { margin: 0 36px 0 40px; }

.header__user .extend-item__list { width: 347px; }

.header__link { margin-right: 35px; }

.header__lang { width: 155px; text-align: center; height: 32px; border-left: 1px solid #474747; -webkit-box-shadow: -1px 0 0 black; -moz-box-shadow: -1px 0 0 black; box-shadow: -1px 0 0 black; }
.header__lang .extend-item { display: inline-block; margin-top: 6px; }
.header__lang .extend-item__list { width: 150px; }

.header__main { padding: 0 0 7px; background: #fcfcfc; -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5); }
.header__main .l-center { *zoom: 1; }
.header__main .l-center:after { content: " "; display: table; clear: both; }

.header__logo { float: left; margin-left: 22px; width: 137px; text-align: center; color: #4c4c4c; font-size: 13px; }
.header__logo strong { display: block; margin-bottom: 2px; color: #da2400; letter-spacing: -1px; font-size: 46px; font-family: "lobster", Arial, sans-serif; }

.header__city { position: relative; float: left; margin: 19px 0 0 40px; padding-left: 20px; width: 342px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__city .header__input input { padding-left: 120px; border-radius: 0 20px 20px 0; }

.header__city-btn { position: absolute; left: 0; top: 0; bottom: 0; padding-left: 7px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 128px; line-height: 37px; background: #4c4c4c; text-align: center; border-radius: 20px 0 0 20px; }
.header__city-btn span, .header__city-btn .fa { display: inline-block; vertical-align: middle; color: white; line-height: 1.2; }
.header__city-btn span { border-bottom: 1px dotted; }
.header__city-btn .fa { position: relative; top: 2px; margin-left: 12px; font-size: 1.4em; }
.header__city-btn:hover span { border-bottom-color: transparent; }

.header__input input { display: block; padding: 0 20px; width: 100%; height: 40px; font-size: 16px; font-family: "roboto-bold", Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #4a4a4a; border-radius: 20px; background-color: #f2f2f2; -webkit-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.5); }
.header__input input:-ms-input-placeholder { color: gray; }
.header__input input:-moz-placeholder { color: gray; }
.header__input input::-moz-placeholder { color: gray; }
.header__input input::-webkit-input-placeholder { color: gray; }
.header__input input::placeholder { color: gray; }
.header__input input:focus { background: #fafafa; }

.header__search { position: relative; margin: 19px 0 0 36px; float: left; width: 254px; }
.header__search input { padding-right: 35px; }
.header__search .fa { position: absolute; top: 50%; right: 16px; margin-top: -9px; font-size: 1.4em; background: none; color: #5c5c5c; }

.header__cart { float: right; margin: 10px 2px 0 0; border-left: 1px solid #d7d7d7; padding: 8px 0 8px 18px; }

.cart-btn { position: relative; display: block; padding-left: 60px; width: 135px; height: 40px; line-height: 38px; background: #e9e9e9; border-radius: 20px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.71); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.71); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.71); -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.cart-btn:hover { background: #d7d7d7; }
.cart-btn:hover .cart-btn__icon { background: #a51b00; }
.cart-btn:active { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.cart-btn__icon { position: absolute; top: 0; left: 0; bottom: 0; width: 47px; text-align: center; background: #da2400; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-shadow: 1px 0 0 #f3f3f3; -moz-box-shadow: 1px 0 0 #f3f3f3; box-shadow: 1px 0 0 #f3f3f3; }
.cart-btn__icon .fa { color: white; font-size: 1.7em; vertical-align: middle; }

.cart-btn__in { display: inline-block; vertical-align: middle; line-height: 1.2; color: #4c4c4c; font-size: 13px; text-shadow: 0 1px 0 white; }
.cart-btn__in span { font-family: "roboto-bold", Arial, sans-serif; display: block; }

.cart-btn__text { display: none; color: white; font-family: "roboto-bold", Arial, sans-serif; font-size: 13px; }

.footer { position: relative; min-height: 232px; color: white; text-shadow: 0 -1px 0 black; background: #3d3d3d url(../img/dark-bg.png) 0 0 repeat; }
.footer a { color: white; }

.footer__top { margin-bottom: 17px; padding: 35px 15px 0; *zoom: 1; }
.footer__top:after { content: " "; display: table; clear: both; }

.footer__feedback { float: left; width: 188px; }
.footer__feedback a { color: #a51b00; }
.footer__feedback a:hover { text-decoration: underline; }
.footer__feedback li { margin-bottom: 5px; }

.footer__feedback-title { margin-bottom: 17px; font-size: 21px; font-family: "roboto-bold", Arial, sans-serif; color: #c2c2c2; }

.footer__col { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 3px 10px 15px 40px; border-left: 1px solid black; -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.13); -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.13); box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.13); }

.footer__nav { padding-left: 48px; width: 294px; }
.footer__nav li { margin-bottom: 5px; }
.footer__nav a { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer__nav a:hover { color: #da2400; }

.footer__about { float: left; width: 480px; color: #c2c2c2; line-height: 1.32; }

.footer__soc { margin: 22px 0 0; font-size: 0; }
.footer__soc a { display: inline-block; margin-right: 30px; vertical-align: top; text-align: center; font-size: 13px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer__soc a:hover { color: #da2400; }
.footer__soc .fa { font-size: 30px; }
.footer__soc span { display: block; }

.footer__meta { padding-left: 15px; }
.footer__meta a { color: #a51b00; }
.footer__meta a:hover { text-decoration: underline; }
.footer__meta span { margin-right: 20px; }

.l-main { margin-bottom: 26px; }

.l-cols { display: table; width: 100%; height: 100%; }
.l-cols .l-col1 { display: table-cell; vertical-align: top; width: 243px; background: white; border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; }
.l-cols .l-col2 { display: table-cell; padding-bottom: 20px; vertical-align: top; padding-left: 18px; width: 755px; }

.extend-item { position: relative; }
.extend-item.is-active .extend-item__list { opacity: 1; visibility: visible; }

.extend-item__link { display: inline-block; border-bottom: 1px dashed; position: relative; line-height: 1.2; vertical-align: middle; }
.extend-item__link .fa { position: absolute; top: -2px; right: -14px; }

.extend-item__list { position: absolute; z-index: 100; top: 100%; right: -45px; margin-top: 15px; text-align: left; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); background: white; border-radius: 10px; line-height: 1.2; font-size: 15px; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "roboto-medium", Arial, sans-serif; }
.extend-item__list:before { content: ""; position: absolute; top: -12px; right: 28px; background: url('../img/icons-s7b85525899.png') 0 -24px no-repeat; width: 12px; height: 12px; }
.extend-item__list li { border-top: 1px dashed #d7d7d7; }
.extend-item__list li:first-child { border-top: 0; }
.extend-item__list a { display: block; padding: 9px 24px 11px; color: #3d3d3d; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.extend-item__list a:hover { color: #da2400; }
.extend-item__list .fa { font-size: 1.4em; }
.extend-item__list .fa-star { font-size: 1em; }

.extend-item__icon, .extend-item__text { display: inline-block; vertical-align: middle; }

.extend-item__text span { display: block; color: #da2400; }

.extend-item__icon { width: 40px; }

.badge { display: inline-block; text-align: center; line-height: 24px; width: 24px; height: 24px; border-radius: 50%; }
.badge .fa { color: white; }

.badge_bonus { background: #ffc600; }

.badge_gift { background: #da2400; }

.badge_new { background: #7ab900; }

.btn { display: inline-block; padding: 9px 17px; border-radius: 16px; background: #da2400; color: white; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }
.btn:hover { background: #a51b00; }
.btn:active { position: relative; top: 1px; }

.btn_detail .fa { position: relative; margin-left: 22px; }
.btn_detail:active .fa { left: 5px; }

.checkbox-wrap { margin-bottom: 17px; }

.checkbox { position: relative; padding-left: 27px; display: inline-block; vertical-align: middle; cursor: pointer; }
.checkbox .fa-check { position: absolute; left: 0; top: 0; width: 16px; height: 16px; font-size: 14px; background: #f2f2f2; border-radius: 2px; -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); font-style: normal; }
.checkbox .fa-check:before { display: none; margin: 1px 0 0 1px; color: #da2400; }

.checkbox__input { position: absolute; left: 0; top: 0; width: 16px; height: 16px; opacity: 0; }
.checkbox__input:checked + .fa-check:before { display: inline-block; }

.checkbox__text { display: inline-block; vertical-align: middle; }
.checkbox__text .fa { margin-right: 7px; }
.checkbox__text .fa-gift { color: #da2400; }
.checkbox__text .fa-star { color: #ffc600; }

.checkbox_extend { display: block; margin-bottom: 12px; *zoom: 1; }
.checkbox_extend:after { content: " "; display: table; clear: both; }

.checkbox__add { float: right; color: #777777; }

.tab { display: table; margin-bottom: -1px; border: 1px solid #d7d7d7; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; table-layout: fixed; border-radius: 20px 20px 0 0; }
.tab li { display: table-cell; text-align: center; border-left: 1px solid #d7d7d7; }
.tab li:first-child { border: 0; }
.tab li.is-active a { background: white; color: #3d3d3d; }
.tab a { display: block; padding: 19px 10px; font-size: 16px; font-family: "roboto-bold", Arial, sans-serif; color: #757575; background: #f2f2f2; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.box { border: 1px solid #d7d7d7; background: white; border-radius: 20px; }

.tooltip { display: none; position: absolute; top: auto; padding-bottom: 15px; width: 148px; margin-left: -62px; text-align: center; z-index: 1000; }

.tooltip__in { position: relative; display: inline-block; padding: 11px 16px; font-size: 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; line-height: 12px; background: white; border-radius: 10px; background: rgba(255, 255, 255, 0.95); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }
.tooltip__in:after { content: ""; position: absolute; bottom: -14px; left: 50%; margin-left: -7px; background: url('../img/icons-s7b85525899.png') 0 0 no-repeat; width: 14px; height: 14px; }

.btn-close { position: absolute; background: url('../img/icons-s7b85525899.png') 0 -202px no-repeat; width: 18px; height: 19px; }
.btn-close:active { margin-top: 1px; }

.choose { display: inline-block; margin: 15px 0 5px; width: 166px; position: relative; text-align: left; }
.choose .fa { position: absolute; top: 15px; background: none; font-size: 16px; color: #3d3d3d; }
.choose .fa-plus-circle { right: 17px; }
.choose .fa-minus-circle { right: 40px; }

.choose__main { border: 1px solid #d7d7d7; padding-left: 22px; height: 40px; line-height: 40px; border-radius: 20px; background: #f2f2f2; font-family: "roboto-bold", Arial, sans-serif; font-size: 18px; text-shadow: 0 1px 0 white; }

.radio-wrap { margin-bottom: 5px; }

.radio { display: inline-block; position: relative; min-height: 20px; cursor: pointer; }
.radio input { position: absolute; left: 0; top: 2px; z-index: 2; width: 14px; height: 14px; opacity: 0; }
.radio input:checked + span:after { display: block; }
.radio span { display: inline-block; vertical-align: middle; position: relative; padding-left: 25px; }
.radio span:before { content: ""; position: absolute; left: 0; top: 1px; width: 14px; height: 14px; background: #f2f2f2; border-radius: 50%; -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.23); }
.radio span:after { content: ""; display: none; position: absolute; top: 4px; left: 3px; width: 8px; height: 8px; border-radius: 50%; background: #d92300; }

.categ-section { border-bottom: 1px solid #d7d7d7; padding: 25px 0 35px; background: white; }
.categ-section .title { margin: 0; }

.categ-wrap { margin-bottom: 13px; padding: 0 0 17px; border-bottom: 1px dashed #d7d7d7; font-size: 0; }
.categ-wrap:last-child { border-bottom: 0; }

.categ { display: inline-block; vertical-align: top; width: 16.5%; text-align: center; }
.categ:first-child { width: 17.5%; }
.categ:hover .categ__name { background: #da2400; color: white; }

.categ__img { position: relative; margin-bottom: 5px; height: 116px; }
.categ__img a { position: absolute; bottom: 0; left: 0; right: 0; }

.categ__name { display: inline-block; padding: 4px 25px 6px; border-radius: 14px; color: #3d3d3d; font-size: 15px; font-family: "roboto-medium", Arial, sans-serif; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.categ__name:hover { background: #da2400; color: white; }

.offer-section { margin-bottom: 32px; padding-top: 40px; }
.offer-section .title { margin-bottom: 37px; }
.offer-section .slick-slide { *zoom: 1; }
.offer-section .slick-slide:after { content: " "; display: table; clear: both; }
.offer-section .slick-dots { position: relative; top: -3px; }

.offer { margin: 3px 3px 23px 20px; float: left; padding: 13px; width: 485px; height: 221px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 20px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.offer:hover { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
.offer:first-child, .offer:nth-child(3) { margin-left: 3px; }

.offer__img { float: left; margin-right: 17px; width: 187px; height: 187px; text-align: center; line-height: 187px; overflow: hidden; }
.offer__img img { vertical-align: middle; }

.offer__main { overflow: hidden; padding-top: 8px; }

.offer__title { margin-bottom: 9px; font-size: 18px; font-family: "roboto-bold", Arial, sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.offer__info { margin-bottom: 14px; height: 77px; overflow: hidden; border-bottom: 1px dashed #d7d7d7; }

.offer__owner { margin: 14px 0 5px; }
.offer__owner a { font-family: "roboto-bold", Arial, sans-serif; color: #da2400; }
.offer__owner a:hover { text-decoration: underline; }

.offer__meta { color: #757575; font-family: "roboto-italic", Arial, sans-serif; }

.offer__btn { margin-top: 18px; text-align: right; }

.slider { height: 366px; overflow: hidden; background: url(../img/slider-bg.jpg) 50% 0 repeat-x; }
.slider .l-center { position: relative; visibility: hidden; }
.slider.is-ready .l-center { visibility: visible; }
.slider .slick-slide { height: 366px; }
.slider .slick-slide.slick-active .slider__info { top: 0; left: 0; bottom: 0; opacity: 1; visibility: visible; }
.slider .slick-slide.slick-active .slider__img { right: 0; top: 0; bottom: 0; opacity: 1; visibility: visible; }
.slider .slick-dots { position: absolute; left: 50%; margin-left: -480px; bottom: 24px; width: 390px; text-align: center; }
.slider .slick-dots button { background: white; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.slider .slick-dots .slick-active button { opacity: 1; background: white; }

.slider__info { position: absolute; top: auto; bottom: -1000px; left: -2000px; z-index: 2; padding: 85px 0 0; width: 460px; text-align: center; color: white; opacity: 0; visibility: hidden; -webkit-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); }
.slider__info .btn { padding: 14px 46px; border-radius: 25px; font-size: 16px; }

.slider__img { position: absolute; top: auto; left: auto; right: -2000px; opacity: 0; visibility: hidden; -webkit-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); }

.slider__title { margin-bottom: 17px; font-size: 54px; font-family: "lobster", Arial, sans-serif; }

.slider__text { margin-bottom: 34px; font-size: 16px; font-family: "roboto-medium", Arial, sans-serif; }

.slider__img_pizza img { position: relative; top: -69px; right: -145px; }

.slider__img_burger { font-size: 0; }
.slider__img_burger img { position: relative; top: 83px; right: 85px; }

.article { font-size: 13px; color: #3d3d3d; }
.article p { margin-bottom: 10px; }
.article a { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.article a:hover { color: #a51b00; text-decoration: underline; }

.place-wrap { margin-bottom: 13px; }
.place-wrap .place { position: relative; z-index: 2; }
.place-wrap .compaign-items { position: relative; margin-top: -2px; }
.place-wrap .compaign-items:before { content: ""; position: absolute; left: 20px; right: 20px; top: -9px; height: 5px; border-radius: 100%; -webkit-box-shadow: 0 0 15px black; -moz-box-shadow: 0 0 15px black; box-shadow: 0 0 15px black; }

.place { position: relative; margin: 16px 0 0; border: 1px solid #d7d7d7; padding: 15px 14px 15px 19px; background: white; border-radius: 15px; *zoom: 1; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.place:after { content: " "; display: table; clear: both; }
.place:hover { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }

.place__img { float: left; margin-right: 18px; width: 90px; overflow: hidden; }

.place__main { overflow: hidden; }

.place__head { padding-left: 7px; *zoom: 1; }
.place__head:after { content: " "; display: table; clear: both; }

.place__name { float: left; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; max-width: 220px; }
.place__name a { color: #da2400; font-size: 21px; font-weight: normal; font-family: "roboto-bold", Arial, sans-serif; }

.place__options { float: right; text-align: right; }

.place__add, .place__badges { display: inline-block; vertical-align: middle; }

.place__add { margin-right: 15px; font-size: 13px; font-family: "roboto-bold", Arial, sans-serif; }
.place__add .fa { margin-right: 3px; font-size: 16px; }

.place__badges .badge { margin-left: 2px; }

.place__kitchen { padding-top: 5px; clear: both; font-size: 13px; font-family: "roboto-italic", Arial, sans-serif; color: #757575; }

.place__rules { display: table; margin: 13px 0 0; padding: 12px 0; border-top: 1px dashed #d7d7d7; }

.place__rules-item { display: table-cell; padding-left: 45px; min-width: 172px; line-height: 12px; vertical-align: middle; }
.place__rules-item:first-child { padding-left: 0; }
.place__rules-item:first-child strong { font-size: 13px; }
.place__rules-item span { color: #757575; margin-right: 10px; }
.place__rules-item span, .place__rules-item strong { display: inline-block; vertical-align: middle; }
.place__rules-item strong { font-weight: normal; font-size: 18px; font-family: "roboto-bold", Arial, sans-serif; }

.place__info { padding: 8px; background: #f2f2f2; border: 1px solid #bbbbbb; border-radius: 10px; }

.compaign-items { position: relative; margin: 0 10px 13px; border: 1px solid #d7d7d7; padding: 30px 0 0; background: white; border-radius: 0 0 20px 20px; border-top: 0; background: rgba(255, 255, 255, 0.5); }
.compaign-items .title { margin: 0 8px 17px 0; font-size: 24px; }
.compaign-items .title .fa { margin-right: 9px; font-size: 26px; color: #da2400; }
.compaign-items .btn-close { top: 10px; right: 10px; }

.compaign { border-top: 1px solid #d7d7d7; padding: 15px 19px; *zoom: 1; }
.compaign:after { content: " "; display: table; clear: both; }

.compaign__img { float: left; width: 68px; overflow: hidden; margin-right: 20px; }
.compaign__img img { max-width: 100%; height: auto; display: block; border: 2px solid #4c4c4c; }
.compaign__img .fa { font-size: 62px; width: 68px; color: #da2400; text-align: center; }

.compaign__main { overflow: hidden; padding-top: 5px; }

.compaign__title { display: inline-block; margin-bottom: 8px; font-size: 18px; font-family: "roboto-bold", Arial, sans-serif; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; color: #3d3d3d; }
.compaign__title:hover { color: #da2400; }

.compaign__text { float: left; margin-right: 53px; width: 285px; }
.compaign__text strong { font-family: "roboto-bold", Arial, sans-serif; font-weight: normal; }

.compaign__meta { float: left; width: 250px; }

.compaign__left { font-size: 15px; font-family: "roboto-bold", Arial, sans-serif; }
.compaign__left span { color: #da2400; }
.compaign__left .fa { margin-right: 5px; }

.compaign__date { font-size: 13px; font-family: "roboto-italic", Arial, sans-serif; color: #757575; }

.tab-content { padding-top: 29px; border-radius: 0 0 20px 20px; }
.tab-content .title { margin: 13px 0; }
.tab-content .article { margin-bottom: 25px; border-bottom: 1px dashed #d7d7d7; padding: 0 20px 5px; }

.items-wrap { *zoom: 1; padding: 8px; }
.items-wrap:after { content: " "; display: table; clear: both; }
.items-wrap .item:nth-child(3n+3):hover .item__in { right: 0; left: auto; }
.items-wrap .item:nth-child(3n+3):hover .item__main { position: relative; left: 234px; }
.items-wrap .item:nth-child(3n+3):hover .item__descr { position: relative; left: -237px; border-right: 1px dashed #d7d7d7; border-left: 0; }

.item { position: relative; z-index: 1; float: left; width: 240px; height: 318px; }
.item:hover { z-index: 2; }
.item:hover .item__in { -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
.item:hover .item__descr { visibility: visible; opacity: 1; display: inline-block; }
.item.has-bonus .btn-order__add { background: #ffc600; }
.item.has-new-price .btn-order__add { background: #da2400; color: white; }
.item.has-new-price .btn-order__price { color: #da2400; }
.item.has-new-price .btn-order:hover .btn-order__price { color: white; }

.item__in { position: absolute; top: 0; bottom: 0; left: 0; background: white; -webkit-transition: box-shadow 0.2s linear; -moz-transition: box-shadow 0.2s linear; -o-transition: box-shadow 0.2s linear; transition: box-shadow 0.2s linear; border-radius: 15px; overflow: hidden; white-space: nowrap; }

.item__main { display: inline-block; vertical-align: top; padding: 17px 10px; width: 237px; height: 318px; text-align: center; white-space: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.item__descr { display: inline-block; vertical-align: top; border-left: 1px dashed #d7d7d7; padding: 25px 20px 20px 23px; width: 234px; height: 318px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 13px; white-space: normal; visibility: hidden; display: none; opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.item__descr p { margin-bottom: 8px; }

.item__img { display: block; height: 160px; width: 220px; text-align: center; line-height: 160px; }
.item__img img { vertical-align: middle; max-height: 100%; max-width: 100%; height: auto; }

.item__name { display: block; margin: 2px 0 4px; padding: 0 2px; font-family: "roboto-medium", Arial, sans-serif; font-weight: normal; font-size: 17px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.item__meta { color: #757575; }

.item__price { width: 166px; margin: 14px auto 0; height: 66px; }
.item__price .btn-order { position: relative; z-index: 2; }

.btn-order { position: relative; display: block; text-align: center; }
.btn-order:hover .btn-order__main { background: #da2400; color: white; }
.btn-order:hover .btn-order__price { border-color: #eb8875; text-shadow: none; -webkit-box-shadow: inset -1px 0 0 #c42000; -moz-box-shadow: inset -1px 0 0 #c42000; box-shadow: inset -1px 0 0 #c42000; }

.btn-order__main { position: relative; z-index: 2; display: block; height: 42px; line-height: 40px; border: 1px solid #d7d7d7; background: #f1f1f1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #3d3d3d; border-radius: 20px; text-align: center; text-shadow: 0 1px 0 white; -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; }

.btn-order__price { float: left; padding: 0 1px; border-right: 1px solid #f8f8f8; width: 70px; -webkit-box-shadow: inset -1px 0 0 #d9d9d9; -moz-box-shadow: inset -1px 0 0 #d9d9d9; box-shadow: inset -1px 0 0 #d9d9d9; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-family: "roboto-bold", Arial, sans-serif; }

.btn-order__text { overflow: hidden; font-family: "roboto-medium", Arial, sans-serif; font-size: 14px; }

.btn-order__add { position: absolute; z-index: 1; left: 1px; bottom: -24px; right: 1px; font-size: 12px; height: 40px; line-height: 53px; color: #3d3d3d; border-radius: 0 0 20px 20px; font-family: "roboto-regular", Arial, sans-serif; }

.btn-order-bonus { display: block; margin: 6px 0; padding: 6px; font-size: 12px; text-align: center; background: #ffc600; border-radius: 13px; color: #3d3d3d; }

.contacts-wrap { padding: 0 0 0 19px; *zoom: 1; }
.contacts-wrap:after { content: " "; display: table; clear: both; }

.contact { float: left; margin: 0 0 18px 28px; width: 216px; }
.contact:first-child { margin-left: 0; }
.contact em { font-style: normal; font-family: "roboto-italic", Arial, sans-serif; color: #757575; }
.contact ul { margin-bottom: 9px; }
.contact ul li { position: relative; margin-bottom: 5px; padding-left: 13px; font-family: "roboto-bold", Arial, sans-serif; }
.contact ul li:before { content: ""; position: absolute; top: 5px; left: 0; width: 4px; height: 4px; background: #3d3d3d; border-radius: 50%; }
.contact ul li ul { margin: 5px 0 10px; }
.contact ul li li { padding-left: 9px; font-family: "roboto-italic", Arial, sans-serif; }
.contact ul li li:before { display: none; }

.contact__title { margin-bottom: 16px; border-bottom: 1px solid #d7d7d7; padding-bottom: 10px; font-size: 15px; font-family: "roboto-bold", Arial, sans-serif; }

.contact__item { margin-bottom: 17px; font-family: "roboto-italic", Arial, sans-serif; }
.contact__item strong { display: block; margin-bottom: 5px; font-family: "roboto-bold", Arial, sans-serif; font-weight: normal; }

.google-map { border-top: 1px dashed #d7d7d7; height: 500px; overflow: hidden; border-radius: 0 0 20px 20px; }

.sidebar { position: relative; width: 242px; }

.sidebar-target { width: 100%; height: 1px; display: block; }

.sidebar__in { padding: 21px 0; }

.sidebar__item { padding: 0 15px; }

.sidebar__search { position: relative; margin-bottom: 24px; }
.sidebar__search input { display: block; padding: 0 30px 0 15px; width: 100%; height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: whitesmoke; border-radius: 20px; -webkit-box-shadow: 0 1px 0 white, inset 0 1px 2px rgba(0, 0, 0, 0.27); -moz-box-shadow: 0 1px 0 white, inset 0 1px 2px rgba(0, 0, 0, 0.27); box-shadow: 0 1px 0 white, inset 0 1px 2px rgba(0, 0, 0, 0.27); }
.sidebar__search input:-ms-input-placeholder { color: gray; }
.sidebar__search input:-moz-placeholder { color: gray; }
.sidebar__search input::-moz-placeholder { color: gray; }
.sidebar__search input::-webkit-input-placeholder { color: gray; }
.sidebar__search input::placeholder { color: gray; }
.sidebar__search input:focus { background: #fafafa; }
.sidebar__search .fa-search { background: none; position: absolute; top: 50%; right: 13px; color: #3d3d3d; margin-top: -6px; }

.sidebar__filter { padding: 0 22px; }

.sidebar__nav { font-size: 15px; font-family: "roboto-medium", Arial, sans-serif; }
.sidebar__nav li { border-top: 1px dashed transparent; border-bottom: 1px dashed transparent; }
.sidebar__nav li.is-active { border-color: #d7d7d7; background: #f2f2f2; }
.sidebar__nav li.is-active a { color: #da2400; }
.sidebar__nav li.is-active .fa-angle-down { display: none; }
.sidebar__nav li.is-active .fa-angle-up { display: block; }
.sidebar__nav li.is-active ul { display: block; }
.sidebar__nav li.is-active li a { color: #3d3d3d; }
.sidebar__nav li.is-active li.is-active { border-color: transparent; }
.sidebar__nav li.is-active li.is-active a { color: #da2400; }
.sidebar__nav a { display: block; position: relative; padding: 7px 40px 7px 33px; color: #3d3d3d; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.sidebar__nav a:hover { color: #da2400; }
.sidebar__nav a .fa { position: absolute; top: 10px; right: 26px; color: #3d3d3d; }
.sidebar__nav ul { display: none; padding: 0 15px; font-size: 13px; }
.sidebar__nav ul li { margin-bottom: 3px; }
.sidebar__nav ul a { color: #3d3d3d; }
.sidebar__nav .fa-angle-up { display: none; }
.sidebar__nav .fa-angle-down { display: block; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; touch-action: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; font: 0/0 a; text-shadow: none; color: transparent; top: 50%; margin-top: -27px; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }

.slick-prev { left: -92px; background: url('../img/icons-s7b85525899.png') 0 -76px no-repeat; width: 32px; height: 53px; }

.slick-next { right: -92px; background: url('../img/icons-s7b85525899.png') 0 -139px no-repeat; width: 32px; height: 53px; }

.slick-dots { text-align: center; }
.slick-dots li { position: relative; display: inline-block; padding: 0 4px; }
.slick-dots li.slick-active button { background: #4c4c4b; opacity: 1; }
.slick-dots button { display: block; width: 12px; height: 12px; opacity: 0.53; background: #9f9f9f; -webkit-box-shadow: 0 1px 0 white; -moz-box-shadow: 0 1px 0 white; box-shadow: 0 1px 0 white; cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.slick-dots button:hover { opacity: 1; }

.item-popup { position: absolute; display: none; overflow: hidden; z-index: 200; background: white; -webkit-transition: box-shadow 0.2s linear; -moz-transition: box-shadow 0.2s linear; -o-transition: box-shadow 0.2s linear; transition: box-shadow 0.2s linear; border-radius: 15px; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }
.item-popup .item { height: 400px; }
.item-popup .item:hover .item__in { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width: 237px; }
.item-popup .btn-close { right: 14px; top: 11px; z-index: 20; }

.item-popup_simple { width: 237px; height: 400px; *zoom: 1; }
.item-popup_simple:after { content: " "; display: table; clear: both; }

.item-popup_width { width: 720px; height: 422px; *zoom: 1; }
.item-popup_width:after { content: " "; display: table; clear: both; }
.item-popup_width .item { float: left; height: 100%; background: white; }

.item_height { height: 785px; }
.item_height .item, .item_height .item-opt { position: relative; height: 421px; z-index: 10; background: white; }

.item-same { position: relative; padding: 40px 0 10px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%; border-left: 1px dashed #bcbcbc; }
.item-same:before { content: ""; position: absolute; left: -12px; top: 10px; bottom: 10px; z-index: 11; width: 10px; border-radius: 100%; -webkit-box-shadow: 0 0 10px black; -moz-box-shadow: 0 0 10px black; box-shadow: 0 0 10px black; }
.item-same .title { font-size: 26px; }
.item-same .item { height: auto; width: 239px; }

.item-opt { overflow: hidden; padding: 24px 30px; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 1px dashed #bcbcbc; }

.item-opt__list { padding-right: 28px; height: 332px; overflow-x: hidden; overflow-y: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.item-opt__list::-webkit-scrollbar { width: 6px; height: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #c4c4c4; }
.item-opt__list::-webkit-scrollbar-thumb { background: #da2400; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.item-opt__list::-webkit-scrollbar-track-piece { width: 6px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.item-opt__categ { margin-bottom: 21px; font-size: 18px; font-family: "roboto-bold", Arial, sans-serif; }

.item-opt__cols { margin-bottom: 30px; -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; -webkit-column-gap: 15px; -moz-column-gap: 15px; -ms-column-gap: 15px; -o-column-gap: 15px; column-gap: 15px; }

.item-same-extend { position: relative; z-index: 1; padding: 25px 0 0; clear: both; *zoom: 1; border-top: 1px solid #d7d7d7; }
.item-same-extend:after { content: " "; display: table; clear: both; }
.item-same-extend:before { content: ""; position: absolute; left: 20px; right: 20px; top: -12px; z-index: 11; height: 10px; border-radius: 100%; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
.item-same-extend .title { font-size: 26px; }
.item-same-extend .item { height: auto; }

.ui-widget-content { position: relative; }

.ui-widget { position: absolute; left: 0; right: 5px; top: 4px; height: 3px; border: 1px solid #dedede; border-radius: 2px; background: #f8f8f8; }

.ui-slider__main { position: relative; height: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.ui-slider_width .ui-slider__main { width: 100%; }

.ui-slider__min, .ui-slider__max { position: absolute; bottom: -15px; font-size: 10px; color: #6c6c6c; }

.ui-slider__min { left: -5px; }

.ui-slider__max { right: -13px; }

.ui-slider-handle { position: absolute; z-index: 2; top: -7px; width: 5px; height: 15px; border: 1px solid #cecece; border-radius: 2px; background: #f3f3f3; -webkit-box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); -moz-box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); box-shadow: 0 1px 3px rgba(9, 9, 10, 0.23), inset 0 2px 1px rgba(9, 9, 10, 0.03); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9e9)); background-image: -webkit-linear-gradient(#ffffff, #e9e9e9); background-image: -moz-linear-gradient(#ffffff, #e9e9e9); background-image: -o-linear-gradient(#ffffff, #e9e9e9); background-image: linear-gradient(#ffffff, #e9e9e9); }
.ui-slider-handle:before { content: ""; position: absolute; left: 1px; top: 5px; }
.ui-slider-handle:hover span { display: block; }
.ui-slider-handle span { display: none; position: absolute; left: 50%; top: -35px; margin-left: -35px !important; width: 70px; height: 23px; line-height: 23px; color: #5c5c5c; font-size: 12px; font-weight: bold; text-shadow: 0 1px 0 white; text-align: center; border-bottom: 1px solid #c5c6ca; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #d1d1d1; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f9), color-stop(100%, #e2e4e9)); background-image: -webkit-linear-gradient(#f7f7f9, #e2e4e9); background-image: -moz-linear-gradient(#f7f7f9, #e2e4e9); background-image: -o-linear-gradient(#f7f7f9, #e2e4e9); background-image: linear-gradient(#f7f7f9, #e2e4e9); }
.ui-slider-handle span:before { content: ""; position: absolute; left: 50%; margin-left: -5px; bottom: -5px; z-index: 2; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #e2e4e9 transparent transparent transparent; }
.ui-slider-handle span:after { content: ""; position: absolute; left: 50%; margin-left: -6px; bottom: -6px; z-index: 1; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #c5c6ca transparent transparent transparent; }

.ui-slider-range { position: absolute; z-index: 1; top: -1px; left: 0; height: 3px; border: 1px solid #ff9a3f; border-radius: 2px; background: #f16d21; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.35))); background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); background-image: linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 100%); }

.ui-slider__top { margin-bottom: 12px; color: #5c584b; font-size: 12px; }
.ui-slider__top span, .ui-slider__top .input { display: inline-block; vertical-align: middle; }
.ui-slider__top .input { height: 28px; width: 73px; padding: 0 7px; font-size: 13px; font-weight: bold; }

.ui-slider__range { margin-bottom: 12px; color: #5c584b; font-size: 12px; }
.ui-slider__range div, .ui-slider__range .input { display: inline-block; vertical-align: middle; }
.ui-slider__range .input { width: 75px; }
.ui-slider__range .input_from { margin-right: 10px; }
