.fa-star
	color: $yellow
.fa-gift
	color: $red
.fa-certificate
	color: $green 
.extend-item
	position: relative
	&.is-active
		.extend-item__list
			opacity: 1
			visibility: visible

.extend-item__link
	display: inline-block
	border-bottom: 1px dashed 
	position: relative
	line-height: 1.2
	vertical-align: middle
	.fa
		position: absolute
		top: -2px
		right: -14px 
.extend-item__list
	position: absolute
	z-index: 100
	top: 100%
	right: -45px
	margin-top: 15px
	text-align: left
	+box-shadow(0 0 8px rgba(#000, .8))
	background: #fff
	border-radius: 10px 
	line-height: 1.2
	font-size: 15px
	visibility: hidden
	opacity: 0
	+tr    
	+fm    
	&:before
		content: ""
		position: absolute
		top: -12px
		right: 28px
		+s(arr1) 
	li
		border-top: 1px dashed $border 
		&:first-child
			border-top: 0
	a
		display: block
		padding: 9px 24px 11px
		color: $dark 
		+tr
		&:hover
			color: $red 
	.fa
		font-size: 1.4em
	.fa-star
		font-size: 1em 
.extend-item__icon,
.extend-item__text
	display: inline-block
	vertical-align: middle
.extend-item__text
	span
		display: block
		color: $red 
.extend-item__icon
	width: 40px
.badge
	display: inline-block
	text-align: center
	line-height: 24px
	width: 24px
	height: 24px
	border-radius: 50%
	.fa
		color: #fff
.badge_bonus
	background: $yellow
.badge_gift
	background: $red 
.badge_new
	background: $green 

.btn
	display: inline-block
	padding: 9px 17px 
	border-radius: 16px
	background: $red
	color: #fff
	font-size: 13px
	+fb 
	+tr(background .2s linear)
	&:hover
		background: $red_d
	&:active
		position: relative
		top: 1px 
.btn_detail
	.fa
		position: relative
		margin-left: 22px
	&:active
		.fa
			left: 5px
	
.checkbox-wrap
	margin-bottom: 17px
.checkbox
	position: relative
	padding-left: 27px
	display: inline-block
	vertical-align: middle
	cursor: pointer
	font-size: 15px
	+fm
	.fa-check
		position: absolute
		left: 0
		top: 3px
		width: 16px
		height: 16px
		font-size: 14px
		background: #f2f2f2
		border-radius: 2px
		+box-shadow(inset 0 1px 4px rgba(0,0,0,.23))
		font-style: normal
		&:before
			display: none
			margin: 1px 0 0 1px 
			color: $red 
.checkbox__input
	position: absolute
	left: 0
	top: 3px
	width: 16px
	height: 16px
	opacity: 0
	&:checked
		+ .fa-check
			&:before
				display: inline-block
.checkbox__text
	display: inline-block
	vertical-align: middle
	.fa
		margin-right: 7px 
	
.checkbox_extend
	display: block
	margin-bottom: 12px
	+clr
.checkbox__add
	float: right
	color: #777 
		
.tab
	display: table
	margin-bottom: -1px
	border: 1px solid $border
	width: 100%
	+box
	overflow: hidden
	table-layout: fixed
	border-radius: 20px 20px 0 0
	li
		display: table-cell
		text-align: center
		border-left: 1px solid $border
		&:first-child  
			border: 0
		&.is-active
			a
				background: #fff 
				color: $dark 
	a
		display: block
		padding: 19px 10px 
		font-size: 16px
		+fb
		color: $gray
		background: $light
		+tr
		// &:hover
		// 	background: $border
	
.box
	border: 1px solid $border
	background: #fff
	border-radius: 20px 
	
.tooltip
	display: none
	position: absolute
	top: auto
	padding-bottom: 15px
	width: 148px
	margin-left: -62px
	text-align: center
	z-index: 1000
.tooltip__in
	position: relative
	display: inline-block
	padding: 11px 16px
	font-size: 13px
	+box
	text-align: left
	line-height: 12px
	background: #fff 
	border-radius: 10px
	background: rgba(255,255,255,.95)
	+box-shadow(0 0 6px rgba(#000, .6))
	&:after
		content: ""
		position: absolute
		bottom: -14px
		left: 50%
		margin-left: -7px
		+s(arr2)


.btn-close
	position: absolute
	+s(close) 
	&:active
		margin-top: 1px

.choose
	display: inline-block
	margin: 15px 0 5px 
	width: 166px
	position: relative
	text-align: left
	.fa
		position: absolute
		top: 15px
		background: none
		font-size: 16px
		color: $dark 
	.fa-plus-circle
		right: 17px
	.fa-minus-circle
		right: 40px
.choose__main
	border: 1px solid $border
	padding-left: 22px
	height: 40px
	line-height: 40px
	border-radius: 20px
	background: $light 
	+fb
	font-size: 18px
	text-shadow: 0 1px 0 #fff
		
.radio-wrap
	margin-bottom: 5px
.radio
	display: inline-block
	position: relative
	min-height: 20px
	cursor: pointer
	input
		position: absolute
		left: 0
		top: 2px
		z-index: 2
		width: 14px
		height: 14px
		opacity: 0
		&:checked
			+ span
				&:after
					display: block
	span  
		display: inline-block
		vertical-align: middle
		position: relative
		padding-left: 25px
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 1px
			width: 14px
			height: 14px
			background: #f2f2f2
			border-radius: 50%
			+box-shadow(inset 0 1px 4px rgba(0,0,0,.23))
		&:after
			content: ""
			display: none 
			position: absolute
			top: 4px
			left: 3px
			width: 8px
			height: 8px
			border-radius: 50%
			background: #d92300
			 
.rate
	position: relative
	height: 8px
	overflow: hidden
	border-radius: 10px
	background: $red 
	span
		position: absolute
		left: 0
		top: 0
		bottom: 0
		background: $yellow 
.comment-counter
	font-size: 14px
	color: $dark
	+fb
	.fa
		margin-right: 3px
		
.btn-like
	display: inline-block
	padding: 0 21px 0 17px 
	height: 33px
	line-height: 33px
	background: #fafafa
	border-radius: 20px
	+fm
	font-size: 15px
	color: $dark 
	&.is-active
		+box-shadow(0 1px 0 #dfdfdf, inset 0 1px 2px rgba(0,0,0,.36))
	.fa
		margin-right: 2px
	.fa-thumbs-up
		color: $yellow
	.fa-thumbs-down
		color: $red 
		
.input
	display: block
	border: 1px solid $border
	padding: 0 20px 
	width: 100%
	height: 47px
	border-radius: 15px
	+box
	+tr(border .2s linear)
	+placeholder
		font-style: normal
		+fi
		color: $gray 
	//&:hover,
	//&:focus
	//	border-color: $gray 
.input_textarea
	position: relative
	padding: 12px 12px 12px 20px
	max-height: 206px
	overflow-y: auto
	overflow-x: hidden
	textarea
		display: block
		padding-right: 8px
		width: 100%
		height: 100%
		resize: none 
		border: 0
		+box
		+scrollbar
			width: 6px
			height: 6px
			+border-radius(4px)
			background: #c4c4c4
		+scrollbar-thumb
			background: $red
			+border-radius(4px)
		+scrollbar-track-piece     
			width: 6px 
			+border-radius(4px)
.btn-simple
	display: inline-block
	padding: 6px 17px 
	vertical-align: middle
	font-size: 15px
	+fm
	color: $dark
	border-radius: 20px 
	&.is-active
		background: #ececec 
		+box-shadow(0 1px 0 #fff, inset 0 1px 3px rgba(0,0,0,.48))