.input-section
	margin-bottom: 15px
	padding: 20px 40px 0
.input-section_contacts
	border-top: 1px dashed $border 
	border-bottom: 1px dashed $border 
	padding: 29px 40px 22px 
	.input-wrap
		margin-bottom: 10px
.input-section_dashed
	border-top: 1px dashed $border 
	border-bottom: 1px dashed $border 
	padding: 29px 40px 22px 
.input-section_dashed-top
	border-top: 1px dashed $border 
	padding: 29px 40px 22px 
.input-section_tabs
	padding: 10px 40px 0 
	.input-group__title
		&.is-big-title
			margin-bottom: 8px
.input-section_days
	border-top: 1px solid $border 
	border-bottom: 1px dashed $border 
	padding: 40px 40px 15px
.input-section_opt
	margin-bottom: 5px
	padding-top: 20px
.input-section_with-bg
	border-top: 1px solid $border 
	border-bottom: 1px solid $border 
	padding-top: 22px 
	background: $light 
	.input-wrap
		+clr
	.to-right
		float: right
.input-section_secr
	padding: 19px 40px 14px
.to-right
	text-align: right 
.input-group
	+clr	
	.tab-list
		margin-left: 117px
	.tab-list_width
		margin-left: 0
.input-wrap_with-del
	position: relative
	width: 547px
	.btn-del
		position: absolute
		right: -40px
		top: 0
.input-group_with-title
	+clr
	.input-wrap
		float: right
		width: 500px
.input-group_mb
	margin-bottom: 15px
.input-group__descr
	margin: 10px 0 25px 
	color: #8e8e8e 
.input-group__title
	margin-bottom: 8px
	padding-left: 20px
	+fb
	&.is-big-title
		margin-bottom: 18px
		padding-left: 0
		font-size: 15px
	&.is-large-title
		margin-bottom: 18px
		padding-left: 0
		font-size: 17px
.input-title
	float: left
	padding-right: 5px
	width: 95px
	height: 47px
	min-height: 1px
	line-height: 47px
	+box
	+fb
	font-size: 13px
	span
		display: inline-block
		vertical-align: middle
		line-height: 1.2
	em
		display: block
		color: #8e8e8e
		+fr
		font-style: normal 
.input-wrap
	position: relative
	margin-bottom: 5px
	+clr
	.btn-add-wrap
		padding-left: 20px
		padding-bottom: 20px
.input-wrap_col2
	float: left
	width: 290px
	margin-left: 5px
	&:first-child
		margin-left: 0
.input-wrap_two-parts
	float: right
	width: 270px
	&:first-child
		float: left
	.input
		float: left
		width: 175px
.input-wrap_small-parts
	float: left
	width: 280px
	&:first-child
		float: left
	.input
		float: left
		padding: 0 5px 
		width: 60px
		text-align: center
	.input-wrap__title
		width: 115px
.input-wrap_date
	.input-date
		margin: 0 15px 0 5px
	span
		display: inline-block
		vertical-align: middle
.input-wrap__title
	float: left
	width: 95px
	height: 40px
	+fb
	line-height: 40px
	span
		display: inline-block
		line-height: 1.2
		vertical-align: middle
.input-wrap__text
	display: inline-block
	margin: 0 5px
	vertical-align: middle
	height: 40px
	+fb
	line-height: 40px   
	+fb
	span
		display: inline-block
		line-height: 1.2
		vertical-align: middle
.input-date
	position: relative
	display: inline-block
	vertical-align: middle
	width: 117px
	.fa
		position: absolute
		top: 18px
		right: 18px
	select
		bottom: 0
		width: 100%
.input-select
	position: relative
	display: inline-block
	vertical-align: middle
	.fa
		position: absolute
		top: 18px
		right: 18px
	select
		bottom: 0
		width: 100%
.input-select_width
	width: 100%
.input-select_city
	width: 333px
.input
	display: block
	border: 1px solid $border
	padding: 0 20px 
	width: 100%
	height: 47px
	border-radius: 15px
	+box
	+fi
	color: #4c4c4b 
	background: #fafafa 
	+tr(border .2s linear)
	+placeholder
		font-style: normal
		+fi
		color: $gray 
.input_s
	display: inline-block
	padding: 0 10px 
	width: 60px
.input_457
	display: inline-block
	vertical-align: middle
	width: 457px
.input_520
	display: inline-block
	vertical-align: middle
	width: 520px
.input_348
	display: inline-block
	vertical-align: middle
	width: 348px
.input_half
	float: left
	margin-left: 1%
	width: 49.5%
	&:first-child
		margin-left: 0
.input-text
	display: inline-block
	margin-left: 4px
	vertical-align: middle
.input_textarea
	position: relative
	padding: 12px 12px 12px 20px
	min-height: 76px
	overflow-y: auto
	overflow-x: hidden
	background: #fafafa 
	textarea
		display: block
		padding-right: 8px
		width: 100%
		height: 100%
		resize: none 
		border: 0
		+box
		+fi
		background: #fafafa 
		+placeholder
			font-style: normal
			+fi
			color: $gray 
		+scrollbar
			width: 6px
			height: 6px
			+border-radius(4px)
			background: #c4c4c4
		+scrollbar-thumb
			background: $red
			+border-radius(4px)
		+scrollbar-track-piece     
			width: 6px 
			+border-radius(4px)
.input_height
	min-height: 206px
.input_m-height
	min-height: 116px
.tab-list
	+clr
	li
		float: left
		margin-right: 2px
		&.is-active
			a
				background: #fafafa
				border-color: $border  
				color: $dark 
	a
		display: block
		padding: 0 10px 
		min-width: 109px
		height: 28px
		line-height: 28px
		color: #fff 
		text-align: center
		background: #5f5f5f
		border: 1px solid #5f5f5f
		border-bottom: 0  
		border-radius: 15px 15px 0 0 
		&:active
			position: relative
			top: 1px
	.fa
		margin-left: 3px
		color: $yellow
		font-size: 15px 
.tab-list_width
	padding-left: 30px

	a
		padding: 0 26px 
.download
	padding-left: 20px
	+clr
	.checkbox-wrap
		padding: 15px 0 0 
		clear: both
.download__file
	float: left
	margin-right: 24px
	img
		border: 1px solid $border
.download__btn
	position: relative
	float: left
	width: 220px
	overflow: hidden
	input
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		cursor: pointer
		opacity: 0
	input[type="file"]::-webkit-file-upload-button
		cursor: pointer
	div
		color: $gray
		cursor: pointer
		span
			display: block 
			margin-bottom: 5px   
			color: $red 
	.fa
		margin-right: 5px
		
.checkbox-cols
	padding-left: 20px
	+column-count(2)
	+column-gap(20px)
	.checkbox-wrap
		margin-bottom: 8px
		
.time
	margin-bottom: 5px
	&.is-active
		.time__input,	
		.time__right
			visibility: visible
			opacity: 1
	&.is-active-add
		.time__input
			pointer-events: none 
			color: #a0a0a0
			.input
				color: #a0a0a0
	.input-select
		margin-left: 7px
		width: 82px
	.input
		padding: 0 25px 0 15px 
.time__left,
.time__input,
.time__right
	display: inline-block
	vertical-align: middle
.time__input,
.time__right
	visibility: hidden
	opacity: 0
	+tr
.time__left
	width: 205px
.time__input
	width: 220px
.time__right
	text-align: right
	width: 90px
.time__text
	vertical-align: middle
	margin-left: 7px
	+fb
	&:first-child
		margin-left: 0
		
.delivery-opt
	margin-bottom: 20px
	+clr
	&.is-active
		.delivery-opt__right
			visibility: visible
			opacity: 1
.delivery-opt__left,
.delivery-opt__right,
.delivery-opt__text
	display: inline-block
	vertical-align: middle
.delivery-opt__left
	width: 205px
	.checkbox
		+fm
		font-size: 15px
		.fa
			top: 4px
		&.is-checked
			span
				+fm
.delivery-opt__text
	+fb
.delivery-opt__right
	visibility: hidden
	opacity: 0
	+tr
	.checkbox
		margin-left: 34px
		
.input-district
	margin-bottom: 5px
	white-space: nowrap
	&.is-active
		.input-district__input,
		.input-district__right
			visibility: visible
			opacity: 1
	&.is-active-add
		.input-district__input
			color: #a0a0a0 
			pointer-events: none 
.input-district__left,
.input-district__input,
.input-district__right,
	display: inline-block
	vertical-align: middle
	white-space: normal
.input-district__left
	margin-left: 20px
	width: 165px 
.input-district__input
	width: 208px
	visibility: hidden
	opacity: 0
	+tr
	div,
	.input
		display: inline-block
		vertical-align: middle
	div
		+fb      
		height: 40px
		line-height: 40px
		span
			display: inline-block
			vertical-align: middle
			line-height: 1.2
	.input
		width: 69px
		padding: 0 5px
		text-align: center 
		margin: 0 10px 0 3px
		
.input-district__right
	width: 115px 
	visibility: hidden
	opacity: 0
	+tr
	.fa,
	input
		top: 7px
		
.radio-group
	float: left
	padding-left: 20px
	margin-right: 60px
	.checkbox-wrap
		margin-bottom: 8px
.radio-group__in
	padding-left: 28px
.import
	.input-select
		display: inline-block
		vertical-align: middle
		width: 337px  
	 
.import__title,
.import__icon
	display: inline-block
	vertical-align: middle
.import__title
	width: 211px
	color: #4c4c4b
	font-size: 13px
	+fb 
.import__icon
	padding-left: 6px
	.fa
		font-size: 21px
	
