.place-wrap
	margin-bottom: 13px
	.place
		position: relative
		z-index: 2
	.compaign-items
		position: relative
		margin-top: -2px
		&:before
			content: ""
			position: absolute
			left: 20px
			right: 20px
			top: -9px
			height: 5px 
			border-radius: 100%
			+box-shadow(0 0 15px #000)
.place
	position: relative
	margin: 16px 0 0 
	border: 1px solid $border
	padding: 15px 14px 15px 19px 
	background: #fff
	border-radius: 15px
	+clr
	+tr  
	&:hover
		+box-shadow(0 0 8px rgba(#000,.2))
.place__img
	float: left
	margin-right: 18px
	width: 90px
	overflow: hidden
.place__main
	overflow: hidden
.place__head
	padding-left: 7px  
	+clr
.place__name
	float: left
	+text-overflow
	max-width: 220px
	a
		color: $red
		font-size: 21px
		font-weight: normal
		+fb 
.place__options
	float: right
	text-align: right
.place__add,
.place__badges
	display: inline-block
	vertical-align: middle
.place__add
	margin-right: 15px
	font-size: 13px
	+fb
	.fa
		margin-right: 3px
		font-size: 16px	
.place__badges
	.badge
		margin-left: 2px
.place__kitchen
	padding-top: 5px
	clear: both
	font-size: 13px
	+fi
	color: $gray 
.place__rules
	display: table
	margin: 13px 0 0 
	padding: 12px 0 
	border-top: 1px dashed $border 
.place__rules-item
	display: table-cell
	padding-left: 45px
	min-width: 172px
	line-height: 12px
	vertical-align: middle
	&:first-child
		padding-left: 0
		strong
			font-size: 13px
	span
		color: $gray 
		margin-right: 10px
	span,strong
		display: inline-block
		vertical-align: middle
	strong
		font-weight: normal
		font-size: 18px
		+fb
.place__info
	padding: 8px 
	background: $light
	border: 1px solid #bbb
	border-radius: 10px
	
.compaign-items
	position: relative
	margin: 0 10px 13px
	border: 1px solid $border
	padding: 30px 0 0 
	background: #fff 
	border-radius: 0 0 20px 20px
	border-top: 0
	background: rgba(#fff,.5) 
	.title
		margin: 0 8px 17px 0
		font-size: 24px
		.fa
			margin-right: 9px
			font-size: 26px
			color: $red 
	.btn-close
		top: 10px
		right: 10px
.compaign
	border-top: 1px solid $border 
	padding: 15px 19px
	+clr 
.compaign__img
	float: left
	width: 68px
	overflow: hidden
	margin-right: 20px
	img
		max-width: 100%
		height: auto
		display: block
		border: 2px solid #4c4c4c
	.fa
		font-size: 62px
		width: 68px
		color: $red 
		text-align: center
.compaign__main
	overflow: hidden
	padding-top: 5px
.compaign__title
	display: inline-block
	margin-bottom: 8px
	font-size: 18px
	+fb
	+tr
	color: $dark 
	&:hover
		color: $red 
.compaign__text
	float: left
	margin-right: 53px
	width: 285px
	strong
		+fb
		font-weight: normal
.compaign__meta
	float: left
	width: 250px
.compaign__left
	font-size: 15px
	+fb
	span
		color: $red 
	.fa
		margin-right: 5px
.compaign__date
	font-size: 13px
	+fi
	color: $gray 

.tab-content
	padding-top: 29px
	border-radius: 0 0 20px 20px
	.title
		margin: 13px 0
.items-wrap
	+clr
	padding: 8px 
	.item
		&:nth-child(3n+3)
			&:hover
				.item__in
					right: 0
					left: auto
				.item__main
					position: relative
					left: 231px
				.item__descr
					position: relative
					left: -237px
					border-right: 1px dashed $border
					border-left: 0 
.item
	position: relative
	z-index: 1
	float: left
	width: 240px
	height: 318px
	&:hover
		z-index: 2
		.item__in
			width: 471px
			+box-shadow(0 0 8px rgba(#000,.5))
		.item__descr
			visibility: visible
			opacity: 1
	&.has-bonus
		.btn-order__add
			background: $yellow 
	&.has-new-price
		.btn-order__add
			background: $red
			color: #fff
		.btn-order__price
			color: $red 
		.btn-order
			&:hover
				.btn-order__price
					color: #fff
.item__in
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 237px
	background: #fff 
	+tr(box-shadow .2s linear)
	border-radius: 15px
	overflow: hidden
	white-space: nowrap
.item__main
	display: inline-block
	vertical-align: top 
	padding: 17px 10px 
	width: 237px
	height: 318px
	text-align: center
	white-space: normal
	+box
.item__descr
	display: inline-block
	vertical-align: top
	border-left: 1px dashed $border
	padding: 25px 20px 20px 23px 
	width: 234px
	height: 318px
	background: #fff 
	+box
	font-size: 13px
	white-space: normal
	visibility: hidden
	opacity: 0
	+tr  
	p
		margin-bottom: 8px
.item__img
	display: block
	height: 160px
	width: 220px
	text-align: center
	line-height: 160px
	img
		vertical-align: middle
		max-height: 100%
		max-width: 100%
		height: auto
.item__name
	display: block
	margin: 2px 0 4px
	padding: 0 2px  
	+fm
	font-weight: normal
	font-size: 17px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis 
.item__meta
	color: $gray 
.item__price
	width: 166px
	margin: 14px auto 0 
	height: 66px
	.btn-order
		position: relative
		z-index: 2

.btn-order
	position: relative
	display: block
	text-align: center
	&:hover
		.btn-order__main
			background: $red
			color: #fff 
		.btn-order__price
			border-color: #eb8875
			text-shadow: none
			+box-shadow(inset -1px 0 0 #c42000) 
.btn-order__main
	position: relative
	z-index: 2
	display: block
	height: 42px
	line-height: 40px
	border: 1px solid #d7d7d7
	background: #f1f1f1
	+box
	color: $dark
	border-radius: 20px  
	text-align: center
	text-shadow: 0 1px 0 #fff
	+tr(background .2s linear)
.btn-order__price
	float: left
	padding: 0 1px 
	border-right: 1px solid #f8f8f8 
	width: 70px
	+box-shadow(inset -1px 0 0 #d9d9d9)
	+box
	+tr
	font-size: 18px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	+fb
.btn-order__text
	overflow: hidden
	+fm
	font-size: 14px

.btn-order__add
	position: absolute
	z-index: 1
	left: 1px
	bottom: -24px
	right: 1px
	font-size: 12px
	height: 40px
	line-height: 53px
	color: $dark 
	border-radius: 0 0 20px 20px 
	+fr

.btn-order-bonus
	display: block
	margin: 6px 0 
	padding: 6px
	font-size: 12px
	text-align: center 
	background: $yellow    
	border-radius: 13px
	color: $dark 