.sidebar
	position: relative
	width: 242px
	.title
		margin-bottom: 17px
		padding-left: 20px
		font-size: 26px
		text-align: left
	.checkbox
		font-size: 15px
		+fm
	.fa-check,
	.checkbox__input	
		top: 3px
.sidebar-target
	width: 100%
	height: 1px
	display: block
.sidebar-nav
	.extend-item__list
		background: none 
.sidebar__in 
	padding: 21px 0 
.sidebar__item
	padding: 0 15px 
.sidebar__back
	margin-bottom: 10px
	display: inline-block
	padding-left: 15px
	position: relative
	.fa
		position: absolute
		left: 0
		top: 50%
		margin-top: -6px
.sidebar__search
	position: relative
	margin-bottom: 24px
	input
		display: block
		padding: 0 30px 0 15px 
		width: 100%
		height: 30px
		+box
		background: #f5f5f5
		border-radius: 20px
		+box-shadow(0 1px 0 #fff, inset 0 1px 2px rgba(0,0,0,.27))
		+placeholder
			color: #808080 
		&:focus
			background: #fafafa 
	.fa-search
		background: none
		position: absolute
		top: 50%
		right: 13px
		color: $dark 
		margin-top: -6px
.sidebar__filter
	padding: 0 22px 
	.fa-certificate
		color: $green 
.sidebar__categs
	padding-bottom: 12px
	border-bottom: 1px solid $border
	.checkbox-wrap
		margin-bottom: 0
		border-top: 1px dashed transparent
		border-bottom: 1px dashed transparent
		&:hover
			border-color: $border 
			.checkbox
				background: $light 
	.checkbox
		display: block
		padding: 5px 22px 7px 50px
		
		.checkbox__input,
		.fa-check
			left: 22px 
			top: 9px
.sidebar__nav
	font-size: 15px
	+fm 
	li
		border-top: 1px dashed transparent
		border-bottom: 1px dashed transparent
		&.is-active
			border-color: $border  
			background: $light 
			a
				color: $red 
			.fa-angle-down
				display: none
			.fa-angle-up
				display: block
			ul
				display: block
			li
				a
					color: $dark
				&.is-active
					border-color: transparent 
					a
						color: $red
	a
		display: block
		position: relative
		padding: 7px 40px 7px 33px 
		color: $dark 
		+tr
		&:hover
			color: $red 
		.fa
			position: absolute
			top: 10px
			right: 26px
			color: $dark 
	ul
		display: none
		padding: 0 15px 
		font-size: 13px
		li
			margin-bottom: 3px
		a
			color: $dark 
	
	.fa-angle-up
		display: none
	.fa-angle-down
		display: block
		
.link-more-categs
	margin: 32px 0 0
	padding: 0 0 17px 50px 

.sidebar__opt
	margin-bottom: 18px
	padding: 17px 22px 0
	border-bottom: 1px dashed $border  